.app__body{
    display: flex;
    justify-content: center;
}

.app__container{
    display: flex;
    width: 85vw;
    height: auto;
    /*background-color: blue;*/
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .app__container{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        /*background-color: blue;*/
        padding: 20px;
    }
}
